.login-container {
    height: calc(100vh - 20rem);
}

.login-button {
    width: 40%;
}

.login-header {
    display: flex;
    justify-content: center;
}

.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
}