.search-bar-container {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}
.type-ingredient-container, .type-name-container {
    display: flex;
    gap: 0.5rem;
}

.search-message {
    display: none;
}


.type-ingredient-submenu {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ingredients-tag-container {
    margin-bottom: 3rem;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

/* //////////////////////////////////////////////////////////////////////////////// */
/* search by ingredient: ingredients result modal */
/* //////////////////////////////////////////////////////////////////////////////// */
.modal-container-ingredients {
    height: 50rem;
}

/* contains the ingredient result modal's content */
.modal-container-content {
    max-height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* contains all the ingredients */
.ingredients-result-container {
    overflow: auto;
}

.recipe-box {
    background-color: var(--bulma-primary-light);
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 0.5rem
}

.recipe-box:hover {
    background-color: var(--bulma-primary);
    opacity: 0.75;
    /*cursor: pointer;*/
}

.recipe-box > p {
    min-width: 50%;
    font-size: 1.25rem;
}

.recipe-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
}